.voleks {
    padding-top: 179px;
}
.voleks__image {
    position: relative;
    background-image: url('../../images/voleks-img-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 791px;
    width: 100%;
    background-position: right;
}
.voleks__overlay-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(24, 24, 24, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.voleks__icon {
    width: 136px;
    height: 136px;
    margin: 128px auto 0;
}
.voleks__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 96px auto 0;

}
.voleks__subheading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    max-width: 395px;
    margin: 48px auto 0;
}
.colors__ferst-container_voleks {
    margin-top: 50px;
    max-width: 323px;
    margin-left: 70px;
}
.colors__second-container_voleks {
    margin-top: 150px;
    max-width: 323px;
    margin-left: 70px;
}
.colors__icon_certificate {
    width: 95px;
    height: 90px;
}
.colors__icon_paper {
    width: 90px;
    height: 90px;
}
.colors__icon_paper-numbers {
    width: 90px;
    height: 90px;
}
.colors__icon_award {
    width: 90px;
    height: 90px;
}
.colors__square_blue {
    background: #229DE0;
}
.colors__square_red {
    background: #FF2938;
}
.colors__square_black {
    background: #030303;
}
.colors__rectangle_pink {
    background: #EC555F;
}
.adaptive__voleks {
    background-image: url('../../images/svg/laptop-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
.adaptive__info-container_voleks {
    margin: 96px auto auto 300px;
}
.adaptive__laptop-img {
    display: none;
}
.preview__voleks {
    display: flex;
}
.preview__voleks-img {
    margin: 128px auto 256px;
}
@media screen and (max-width: 1800px) {
    .adaptive__info-container_voleks {
        margin: 96px auto auto 200px;
    }
}
@media screen and (max-width: 1700px) {
    .adaptive__info-container_voleks {
        margin: 96px auto auto 100px;
    }
}
@media screen and (max-width: 1300px) {
    .adaptive__voleks {
        height: 560px;
    }
    .adaptive__info-container_voleks {
        height: 436px;
        margin: auto auto auto 50px;
    }
    .adaptive__heading_voleks {
        margin: 20px auto 0 40px;
    }
    .adaptive__description_voleks {
        margin: 15px 40px 50px;
        max-width: 382px;
    }
}
@media screen and (max-width: 1245px) {
    .voleks__image {
      min-height: 650px;
    }
    .voleks__icon {
        margin: 50px auto 0;
    }
    .about__img_voleks {
        height: 290px;
    }
    .colors__ferst-container_voleks {
        margin-top: 20px;
        margin-left: 40px;
    }
    .colors__second-container_voleks {
        margin-top: 105px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 1095px) {
    .voleks__image {
      min-height: 550px;
    }
    .voleks__heading {
        font-size: 34px;
        line-height: 47px;
        margin: 56px auto 0;
    
    }
    .voleks__subheading {
        font-size: 25px;
        line-height: 35px;
        margin: 38px auto 0;
    }
    .adaptive__description_voleks {
        max-width: 270px;
    }
    .preview__voleks-img {
        width: 538px;
        height: 1385px;
        margin: 96px auto 128px;
    }
}
@media screen and (max-width: 950px) {
    .voleks__image {
      min-height: 450px;
    }
    .voleks__icon {
        width: 100px;
        height: 100px;
        margin: 32px auto 0;
    }
    .voleks__heading {
        font-size: 32px;
        line-height: 45px;
        margin: 46px auto 0;
    }
    .voleks__subheading {
        font-size: 23px;
        line-height: 32px;
        margin: 28px auto 0;
    }
    .about__img_voleks {
        height: 380px;
        object-position: -210px;
    }
}
@media screen and (max-width: 930px) {
    .voleks {
      padding-top: 80px;
    }
    .voleks__image {
        min-height: 260px;
    }
    .voleks__icon {
        width: 48px;
        height: 48px;
    }
    .voleks__heading {
        font-size: 20px;
        line-height: 26px;
        margin: 28px auto 0;
    }
    .voleks__subheading {
        font-size: 16px;
        line-height: 22px;
        max-width: 288px;
        margin: 12px auto 0;
    }
    .colors__ferst-container_voleks {
        margin-top: 0;
        margin-left: 0;
    }
    .colors__second-container_voleks {
        margin-top: 0;
        margin-left: 0;
    }
    .colors__icon_certificate {
        margin-right: 55px;
    }
    .colors__icon_paper-numbers {
        margin-right: 55px;
    }
    .colors__icon_award {
        width: 82px;
        height: 90px;
    }
}
@media screen and (max-width: 880px) {
    .adaptive__voleks {
        height: 422px;
    }
    .adaptive__info-container_voleks {
        width: 350px;
        height: 370px;
        margin: auto 400px auto auto;
    }
    .adaptive__heading_voleks {
        margin: 28px auto 0 20px;
    }
    .adaptive__description_voleks {
        margin-top: 12px;
        max-width: 312px;
        margin: 15px auto 0 20px;
    }
}
@media screen and (max-width: 840px) {
    .about__img_voleks {
        height: 315px;
        object-position: -155px;
    }
}
@media screen and (max-width: 680px) {
    .about__img_voleks {
        height: 415px;
        object-position: -225px;
    }
}
@media screen and (max-width: 770px) {
    .adaptive__voleks {
        flex-direction: column;
        background-image: none;
        width: 100%;
        height: auto;
    }
    .adaptive__info-container_voleks {
        width: 462px;
        height: 400px;
        margin: 96px auto;
    }
    .adaptive__heading_voleks {
        font-size: 28px;
        line-height: 36px;
        margin: 48px auto 0 32px;
    }
    .adaptive__description_voleks {
        font-size: 16px;
        line-height: 140%;
        margin: 32px auto 0 32px;
        max-width: 382px;
    }
    .adaptive__laptop-img {
        background-image: url('../../images/svg/laptop-img.svg');
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        width: 100%;
        height: 422px;
    }
}
@media screen and (max-width: 560px) {
    .about__img_voleks {
        width: 290px;
        height: 246px;
        object-position: 0;
    }
    .colors__icon_certificate {
        width: 51px;
        height: 49px;
        margin-right: 34px;
    }
    .colors__icon_paper {
        width: 49px;
        height: 49px;
    }
    .colors__icon_paper-numbers {
        width: 49px;
        height: 49px;
        margin-right: 34px;
    }
    .colors__icon_award {
        width: 44px;
        height: 53px;
    }
    .preview__voleks-img {
        width: 290px;
        height: 746px;
        margin: 48px auto 96px;
    }
    .adaptive__info-container_voleks {
        width: 290px;
        height: 568px;
        margin: 68px auto 96px;
    }
    .adaptive__heading_voleks {
        margin: 48px auto 0 28px;
    }
    .adaptive__description_voleks {
        margin: 32px auto 0 28px;
        max-width: 233px;
    }
    .adaptive__laptop-img {
        height: 239px;
    }
}
@media screen and (max-width: 470px) {
    .voleks__image {
        min-height: 410px;
    }
    .voleks__icon {
        margin: 96px auto 0;
    }
    .voleks__heading {
        margin: 32px auto 0;
    }
}