.catalog {
    
}
.catalog__image-container {
    background-image: url('../../images/catalog-page-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalog__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 660px;
    margin: 361px auto 0 258px;
}
.catalog__subheading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 32px auto 0 258px;
    max-width: 500px;
}
.catalog__button {
    width: 241px;
    height: 54px;
    background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
    box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
    border-radius: 30px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 64px auto auto 258px;
}
.catalog__button:hover {
    background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
    cursor: pointer;
}
.catalog__button:focus {
    outline: none;
}
.catalog__button:active {
    box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.catalog__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.catalog__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.catalog__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
.catalog-info {
    display: flex;
}
.catalog-info__container {
    display: flex;
    flex-direction: column;
    margin: 96px auto 128px;
    max-width: 1140px;
}
.catalog-info__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 0 auto 0 0;
    max-width: 840px;
    text-transform: uppercase;
}
.catalog-info__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 24px auto 0 0;
}
.catalog-info__description:first-of-type {
    margin-top: 32px;
}
.catalog-info__list-container {
    padding: 0;
    margin: 0 auto 0 0;
}
.catalog-info__list {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 0 auto 0 20px;
}
.days {
    display: flex;
}
.days__container {
    display: flex;
    flex-direction: column;
    margin: 128px auto 256px;
    width: 1057px;
}
.days__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 0 auto 0 0;
    text-transform: uppercase;
}
.days__items-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 90px auto 0 80px;
}
.days__item-container {
    display: flex;
    width: 397px;
}
.days__img {
    width: 142px;
    height: 150px;
    margin-right: 27px;
}
.days__info-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.days__value {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    color: #F9461F;
    margin: 0;
}
.days__type {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 8px auto 0 0;
}
@media screen and (max-width: 1680px) {
    .catalog__heading {
        margin: 300px auto 0 200px;
    }
    .catalog__subheading {
        margin: 32px auto 0 200px;
    }
    .catalog__button {
        margin: 64px auto auto 200px;
    }
}
@media screen and (max-width: 1440px) {
    .catalog__image-container {
        background-position-x: -200px;
    }
    .catalog__heading {
        margin: 300px auto 0 150px;
    }
    .catalog__subheading {
        margin: 32px auto 0 150px;
    }
    .catalog__button {
        margin: 64px auto auto 150px;
    }
}
@media screen and (max-width: 1245px) {
    .catalog__image-container {
        min-height: 829px;
    }
    .catalog__heading {
        margin: 250px auto 0 100px;
    }
    .catalog__subheading {
        margin: 32px auto 0 100px;
    }
    .catalog__button {
        margin: 64px auto auto 100px;
    }
    .catalog-info__container {
        max-width: 900px;
    }
    .days__container {
        width: 850px;
    }
}
@media screen and (max-width: 1095px) {
    .catalog__image-container {
        min-height: 729px;
    }
    .catalog__heading {
        margin: 230px auto 0 80px;
        font-size: 35px;
        line-height: 48px;
        max-width: 550px;
    }
    .catalog__subheading {
        font-size: 16px;
        line-height: 130%;
        max-width: 430px;
        margin: 22px auto 0 80px;
    }
    .catalog__button {
        margin: 40px auto auto 80px;
        width: 230px;
        height: 50px;
        font-size: 16px;
        line-height: 130%;
    }
}
@media screen and (max-width: 1050px) {
    .days__container {
        margin: 96px auto 128px;
        width: auto;
    }
    .days__items-container {
        flex-direction: column;
        justify-content: left;
        margin: 64px 0 0 70px;
        width: auto;
    }
    .days__item-container {
        margin-top: 64px;
    }
    .days__item-container:first-of-type {
        margin-top: 0;
    }
}
@media screen and (max-width: 950px) {
    .catalog__image-container {
        min-height: 629px;
    }
    .catalog__heading {
        margin: 200px auto 0 80px;
    }
}
@media screen and (max-width: 930px) {
    .catalog__image-container {
        min-height: 340px;
        background-position-x: 0;
    }
    .catalog__heading {
        font-size: 28px;
        line-height: 36px;
        max-width: 450px;
        margin: 128px auto 0 80px;
    }
    .catalog__subheading {
        display: none;
    }
    .catalog__button {
        width: 211px;
        height: 44px;
        line-height: 140%;
        margin: 24px auto auto 80px;
    }
    .catalog__bottom-container {
        display: none;
    }
    .catalog-info__container {
        max-width: 538px;
        margin: 64px auto 128px;
    }
    .catalog-info__heading {
        font-size: 28px;
        line-height: 36px;
        max-width: 538px;
        letter-spacing: -0.02em;
    }
    .catalog-info__description {
        font-size: 16px;
        line-height: 140%;
    }
    .catalog-info__list {
        font-size: 16px;
        line-height: 140%;
    }
}
@media screen and (max-width: 800px) {
    .days__heading {
        font-size: 28px;
        line-height: 36px;
    }
    .days__items-container {
        margin: 64px 0 0 139px;
    }
    .days__item-container {
        width: auto;
    }
    .days__img {
        width: 120px;
        height: 127px;
        margin-right: 15px;
    }
    .days__value {
        font-size: 20px;
        line-height: 26px;
    }
    .days__type {
        font-size: 16px;
        line-height: 140%;
        margin: 12px auto 0 0;
    }
}
@media screen and (max-width: 690px) {
    .catalog__image-container {
        background-position-y: 15px;
    }
    .catalog__heading {
        margin: 128px auto 0 15px;
    }
    .catalog__button {
        margin: 24px auto auto 15px;
    }
}
@media screen and (max-width: 560px) {
    .catalog-info__container {
        max-width: 290px;
    }
    .catalog-info__heading {
        max-width: 290px;
    }
}
@media screen and (max-width: 530px) {
    .days__img {
        width: 110px;
        height: 116px;
        margin-right: 13px;
    }
    .days__items-container {
        margin: 64px 0 0 0;
        max-width: 290px;
    }
}
@media screen and (max-width: 470px) {
    .catalog__image-container {
        min-height: 490px;
        background-position-x: -370px;
    }
    .catalog__heading {
        margin: 144px auto 0 15px;
        max-width: 245px;
    }
}