.landing {
    
}
.landing__image-container {
    background-image: url('../../images/landing-page-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.landing__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 660px;
    margin: 361px auto 0 258px;
    text-transform: uppercase;
}
.landing__subheading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 32px auto 0 258px;
    max-width: 500px;
}
.landing__button {
    width: 241px;
    height: 54px;
    background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
    box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
    border-radius: 30px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 64px auto auto 258px;
}
.landing__button:hover {
    background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
    cursor: pointer;
}
.landing__button:focus {
    outline: none;
}
.landing__button:active {
    box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.landing__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.landing__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.landing__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
.landing-info {
    display: flex;
}
.landing-info__container {
    display: flex;
    flex-direction: column;
    margin: 96px auto 0;
    max-width: 1140px;
}
.landing-info__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    max-width: 850px;
}
.landing-info__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 32px auto 0 0;
}
.landing-info__subheading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 140%;
    color: #373737;
    text-transform: uppercase;
    margin: 48px auto 0 0;
}
.landing-info__subdescription {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 24px auto 0 0;
}
.landing-info__list {
    padding: 0;
    margin: 24px auto 0 0;
}
.landing-info__list-item {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin-left: 20px;
}
@media screen and (max-width: 1680px) {
    .landing__heading {
        margin: 300px auto 0 200px;
    }
    .landing__subheading {
        margin: 32px auto 0 200px;
    }
    .landing__button {
        margin: 64px auto auto 200px;
    }
}
@media screen and (max-width: 1440px) {
    .landing__heading {
        margin: 300px auto 0 150px;
    }
    .landing__subheading {
        margin: 32px auto 0 150px;
    }
    .landing__button {
        margin: 64px auto auto 150px;
    }
}
@media screen and (max-width: 1245px) {
    .landing__image-container {
        min-height: 829px;
    }
    .landing__heading {
        margin: 250px auto 0 100px;
    }
    .landing__subheading {
        margin: 32px auto 0 100px;
    }
    .landing__button {
        margin: 64px auto auto 100px;
    }
    .landing-info__container {
        max-width: 900px;
    }
}
@media screen and (max-width: 1095px) {
    .landing__image-container {
        min-height: 729px;
    }
    .landing__heading {
        margin: 230px auto 0 80px;
        font-size: 35px;
        line-height: 48px;
        max-width: 550px;
    }
    .landing__subheading {
        font-size: 16px;
        line-height: 130%;
        max-width: 430px;
        margin: 22px auto 0 80px;
    }
    .landing__button {
        margin: 40px auto auto 80px;
        width: 230px;
        height: 50px;
        font-size: 16px;
        line-height: 130%;
    }
}
@media screen and (max-width: 950px) {
    .landing__image-container {
        min-height: 629px;
    }
    .landing__heading {
        margin: 200px auto 0 80px;
    }
}
@media screen and (max-width: 930px) {
    .landing__image-container {
        min-height: 340px;
    }
    .landing__heading {
        font-size: 28px;
        line-height: 36px;
        max-width: 311px;
        margin: 128px auto 0 80px;
    }
    .landing__subheading {
        display: none;
    }
    .landing__button {
        width: 211px;
        height: 44px;
        line-height: 140%;
        margin: 24px auto auto 80px;
    }
    .landing__bottom-container {
        display: none;
    }
    .landing-info__container {
        margin: 64px auto 0;
        max-width: 538px;
    }
    .landing-info__heading {
        font-size: 28px;
        line-height: 36px;
        max-width: 538px;
    }
    .landing-info__description {
        font-size: 16px;
        line-height: 140%;
    }
    .landing-info__subheading {
        font-size: 20px;
        line-height: 26px;
    }
    .landing-info__subdescription {
        font-size: 16px;
        line-height: 140%;
    }
    .landing-info__list-item {
        font-size: 16px;
        line-height: 140%;
    }
}

@media screen and (max-width: 690px) {
    .landing__image-container {
        background-position-y: 25px;
    }
    .landing__heading {
        margin: 128px auto 0 15px;
    }
    .landing__button {
        margin: 24px auto auto 15px;
    }
}
@media screen and (max-width: 560px) {
    .landing-info__container {
        max-width: 290px;
    }
    .landing-info__heading {
        max-width: 290px;
    }
}
@media screen and (max-width: 470px) {
    .landing__image-container {
        min-height: 490px;
        background-position-y: 70px;
        background-position-x: -375px;
    }
    .landing__heading {
        margin: 144px auto 0 15px;
    }
}