.portfolio-web {
    
}
.portfolio-web__image-container {
    background-image: url('../../images/web-portfolio-page-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.portfolio-web__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 660px;
    margin: 455px auto auto 330px;
    text-transform: uppercase;
}
.portfolio-web__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.portfolio-web__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.portfolio-web__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
.grid-container {
    max-width: 1140px;
    margin: 96px auto 128px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.grid-container__group {
    position: relative;
}
.grid-container__group:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}
.grid-container__group:hover .grid-container__img_voleks-hover {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}
.grid-container__img {
    width: 100%;
    height: 100%;
}
.grid-container__img_voleks-hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}
.overlay {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}
.overlay__icon {
    margin: 64px auto 0;
}
.overlay__icon_stroi-snab {
    width: 60px;
    height: 54px;
}
.overlay__icon_voleks {
    width: 60px;
    height: 60px;
}
.overlay__icon_arbellos {
    width: 173px;
    height: 34px;
}
.overlay__icon_ur-konsul {
    width: 60px;
    height: 60px;
}
.overlay__icon_ost-meb-consalt {
    width: 75px;
    height: 68px;
}
.overlay__icon_la-mia-borsa {
    width: 249px;
    height: 35px;
}
.overlay__heading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 32px auto 0;
}
.overlay__subheading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 133.53%;
    color: #FFFFFF;
    margin: 16px auto 0;
    max-width: 230px;
    text-align: center;
}
.overlay__subheading_voleks {
    max-width: 290px;
}
.overlay__subheading_ur-konsul {
    max-width: 304px;
}
@media screen and (max-width: 1700px) {
    .portfolio-web__heading {
        margin: 455px auto auto 150px;
    }
}
@media screen and (max-width: 1500px) {
    .portfolio-web__heading {
        margin: 455px auto auto 100px;
    }
}
@media screen and (max-width: 1450px) {
    .portfolio-web__heading {
        max-width: 350px;
    }
}
@media screen and (max-width: 1245px) {
    .portfolio-web__image-container {
        min-height: 829px;
    }
    .portfolio-web__heading {
        margin: 355px auto auto 100px;
    }
}
@media screen and (max-width: 1200px) {
    .grid-container {
        max-width: 753.32px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1095px) {
    .portfolio-web__image-container {
        min-height: 729px;
    }
    .portfolio-web__heading {
        margin: 325px auto auto 100px;
        font-size: 35px;
        line-height: 48px;
        max-width: 260px;
    }
}
@media screen and (max-width: 950px) {
    .portfolio-web__image-container {
        min-height: 629px;
    }
}
@media screen and (max-width: 930px) {
    .portfolio-web__image-container {
        min-height: 340px;
    }
    .portfolio-web__heading {
        font-size: 36px;
        line-height: 40px;
        margin: 128px auto auto 100px;
    }
    .portfolio-web__bottom-container {
        display: none;
    }
    .overlay {
        visibility: visible;
        opacity: 1;
    }
    .grid-container__img_voleks-hover {
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
    .grid-container {
        max-width: 366.66px;
        margin: 64px auto 128px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 32px;
    }
}
@media screen and (max-width: 690px) {
    .portfolio-web__heading {
        margin: 128px auto auto 15px;
        max-width: 260px;
    }
}
@media screen and (max-width: 470px) {
    .portfolio-web__image-container {
        min-height: 490px;
        background-position-y: 50px;
    }
}