.stroj-snab {
    padding-top: 179px;
}
.stroj-snab__image {
    position: relative;
    background-image: url('../../images/stroi-snab-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 791px;
    width: 100%;
    background-position: right;
}
.stroj-snab__overlay-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(24, 24, 24, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.stroj-snab__icon {
    width: 155px;
    height: 155px;
    margin: 128px auto 0;
}
.stroj-snab__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 96px auto 0;

}
.stroj-snab__subheading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    max-width: 395px;
    margin: 48px auto 0;
}
.about {
    display: flex;
    flex-direction: column;
}
.about__heading {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 96px auto 0;
}
.about__container {
    display: flex;
    margin: 32px auto 128px;
}
.about__img {
    width: 502px;
    height: 372px;
    margin: 0 25px 0 0;
    object-fit: cover;
    object-position: top;
}
.about__text-container {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}
.about__subheading {
    margin: 0 auto 0 0;
}
.about__list-heading {
    margin: 32px auto 0 0;
}
.about__list {
    margin: 0 auto 0 0;
    padding: 0;
    list-style: none;
}
.about__list-item {
}
.colors {
    display: flex;
}
.colors__main-container {
    display: flex;
    flex-direction: column;
    margin: 96px auto 68px;
}
.colors__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #121212;
    margin: 0 auto 0 0;
}
.colors__content-container {
    display: flex;
}
.colors__container {
    display: flex;
    flex-direction: column;
    margin: 64px 0 0;
}
.colors__square-container {
    display: flex;
}
.colors__square-group {
    display: flex;
    flex-direction: column;
    margin: 0 24px 0 0;
}
.colors__square-group:last-of-type {
    margin-right: 0;
}
.colors__square {
    width: 210px;
    height: 220px;
    border-radius: 20px;
    margin: 0;
}
.colors__square_gradient {
    background: linear-gradient(180deg, #FFC300 0%, #FF7304 100%);
}
.colors__square_black {
    background: #030303;
}
.colors__square_yellow {
    background: #FFC300;
}
.colors__type-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    max-width: 210px;
}
.colors__type {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin: 0;
}
.colors__rectangle-group {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
}
.colors__rectangle {
    width: 100%;
    height: 155px;
    background: #FA903C;
    border-radius: 20px;
}
.colors__icon-container {
    display: flex;
    flex-direction: column;
    width: 422px;
    margin: 85px 0 auto 62px;
}
.colors__ferst-container {
    display: flex;
    justify-content: space-between;
}
.colors__second-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
}
.colors__icon {
    width: 160px;
    height: 160px;
}
.typography {
    display: flex;
    flex-direction: column;
}
.typography__header {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #121212;
    margin: 60px auto 0;
}
.typography__container {
    display: flex;
    margin: 96px auto 283px;
}
.typography__letter-main {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: bold;
    font-size: 340px;
    line-height: 85%;
    color: rgba(201, 201, 201, 0.7);
    margin: 0 30px 0 0;
}
.typography__roboto-container {
    display: flex;
    flex-direction: column;
    max-width: 366px;
}
.typography__roboto-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #121212;
    margin: 0 auto 32px 0;
}
.typography__roboto-letters {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #121212;
    margin: 16px auto 0 0;
}
.typography__roboto-letters:first-of-type {
    margin-top: 0;
}
.adaptive {
    display: flex;
    position: relative;
    background: #D2D2D2;
    height: 760px;
}
.adaptive__shadow {
    position: absolute;
    width: 100%;
    height: 230px;
    background: #D2D2D2;
    box-shadow: 2px -36px 70px rgba(0, 0, 0, 0.15);
    bottom: 0;
    left: 0;
}
.adaptive__info-container {
    height: 536px;
    background: #FFFDFD;
    margin: auto 150px auto auto;
    z-index: 1;
}
.adaptive__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 64px auto 0 67px;
}
.adaptive__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #121212;
    margin: 32px 67px 96px;
    max-width: 382px;
}
.adaptive__phones-img {
    width: 564px;
    height: 636px;
    margin: auto auto auto 0;
    z-index: 1;
}
.preview {
    display: flex;
}
.preview__container {
    display: flex;
    flex-direction: column;
    margin: 256px auto auto;
}
.preview__img-one {
    width: 615px;
    height: 931px;
}
.preview__img-two {
    width: 615px;
    height: 402px;
    margin-top: 96px;
}
.preview__img-three {
    width: 385px;
    height: 2129px;
    margin: 128px auto 256px 0;
}
@media screen and (max-width: 1350px) {
    .adaptive__phones-img {
        margin:  auto 0;
    }
}
@media screen and (max-width: 1245px) {
    .stroj-snab__image {
      min-height: 650px;
    }
    .stroj-snab__icon {
        margin: 50px auto 0;
    }
    .about__heading {
        font-size: 28px;
        line-height: 36px;
        margin: 64px auto 0;
    }
    .about__img {
        width: 402px;
        height: 315px;
        margin: 0 26px 0 0;
    }
    .about__text-container {
        font-size: 16px;
        line-height: 140%;
    }
    .colors__heading {
        font-size: 28px;
        line-height: 36px;
    }
    .colors__container {
        margin: 48px 0 0;
    }
    .colors__square-group {
        margin: 0 19px 0 0;
    }
    .colors__square {
        width: 165px;
        height: 152px;
    }
    .colors__type-container {
        margin-top: 7px;
        max-width: 172px;
    }
    .colors__type {
        font-size: 16px;
        line-height: 140%;
    }
    .colors__rectangle-group {
        margin: 30px 0 0;
    }
    .colors__rectangle {
        height: 126px;
    }
    .colors__icon-container {
        width: 300px;
        margin: 60px 0 auto 22px;
    }
    .colors__second-container {
        margin: 85px 0 0 0;
    }
    .colors__icon {
        width: 115px;
        height: 115px;
    }
    .adaptive__info-container {
        margin: auto;
    }
}
@media screen and (max-width: 1150px) {
    .adaptive__info-container {
        margin: auto 0 auto auto;
    }
}
@media screen and (max-width: 1095px) {
    .stroj-snab__image {
      min-height: 550px;
    }
    .stroj-snab__heading {
        font-size: 34px;
        line-height: 47px;
        margin: 56px auto 0;
    
    }
    .stroj-snab__subheading {
        font-size: 25px;
        line-height: 35px;
        margin: 38px auto 0;
    }
    .about__img {
        width: 302px;
        height: 318px;
    }
    .adaptive {
        height: 560px;
    }
    .adaptive__shadow {
        height: 190px;
    }
    .adaptive__info-container {
        height: 400px;
        margin: auto;
    }
    .adaptive__heading {
        font-size: 28px;
        line-height: 36px;
        margin: 48px auto 0 40px;
    }
    .adaptive__description {
        font-size: 16px;
        line-height: 140%;
        margin: 32px 40px 64px;
    }
    .adaptive__phones-img {
        width: 377px;
        height: 426px;
        margin:  auto;
    }
    .preview__container {
        margin: 128px auto auto;
    }
    .preview__img-one {
        width: 538px;
        height: 814px;
    }
    .preview__img-two {
        width: 538px;
        height: 352px;
        margin-top: 65px;
    }
}
@media screen and (max-width: 950px) {
    .stroj-snab__image {
      min-height: 450px;
    }
    .stroj-snab__icon {
        width: 100px;
        height: 100px;
        margin: 32px auto 0;
    }
    .stroj-snab__heading {
        font-size: 32px;
        line-height: 45px;
        margin: 46px auto 0;
    }
    .stroj-snab__subheading {
        font-size: 23px;
        line-height: 32px;
        margin: 28px auto 0;
    }
    .about__img {
        width: 259px;
        height: 410px;
        object-position: -135px;
    }
    .about__text-container {
        max-width: 502px;
        font-size: 18px;
        line-height: 150%;
    }
    .preview {
        flex-direction: column;
    }
    .preview__container {
        margin: 96px auto 0;
    }
    .preview__img-three {
        width: 538px;
        height: 2960px;
        margin: 64px auto 128px;
    }
}
@media screen and (max-width: 930px) {
    .stroj-snab {
      padding-top: 80px;
    }
    .stroj-snab__image {
        background-position-y: -100px;
        min-height: 260px;
    }
    .stroj-snab__icon {
        width: 46px;
        height: 49px;
    }
    .stroj-snab__heading {
        font-size: 20px;
        line-height: 26px;
        margin: 32px auto 0;
    }
    .stroj-snab__subheading {
        font-size: 16px;
        line-height: 22px;
        max-width: 288px;
        margin: 12px auto 0;
    }
    .colors__type-container {
        max-width: 165px;
    }
    .colors__rectangle-group {
        margin: 24px 0 0;
    }
    .colors__content-container {
        flex-direction: column;
    }
    .colors__icon-container {
        flex-direction: row;
        width: 100%;
        margin: 20px auto 0;
    }
    .colors__ferst-container {
        display: flex;
        justify-content: left;
        margin-right: auto;
    }
    .colors__second-container {
        justify-content: left;
        margin: 0;
    }
    .colors__icon {
        width: 105px;
        height: 105px;
        margin-right: 45px;
    }
    .colors__icon:last-of-type {
        margin-right: 0;
    }
    .colors__icon_sun {
        height: 95px;
    }
    .typography__header {
        font-size: 28px;
        line-height: 36px;
        margin: 32px auto 0;
    }
    .typography__roboto-heading {
        font-size: 24px;
        line-height: 28px;
        margin: 0 auto 24px 0;
    }
    .typography__letter-main {
        font-size: 264px;
        line-height: 85%;
        margin: 110px -250px 0 0;
        color: rgba(201, 201, 201, 0.3);
    }
    .typography__container {
        margin: 48px auto 128px;
    }
    .typography__roboto-container {
        max-width: 398px;
    }
}
@media screen and (max-width: 880px) {
    .adaptive {
        flex-direction: column;
        height: 1014px;
    }
    .adaptive__info-container {
        margin: 52px auto 0;
        order: 2;
    }
    .adaptive__phones-img {
        order: 1;
        margin:  40px auto 0;
    }
    .adaptive__shadow {
        display: none;
    }
}
@media screen and (max-width: 840px) {
    .stroj-snab__image {
        background-position-y: -50px;
    }
    .about__text-container {
        max-width: 350px;
        font-size: 16px;
        line-height: 140%;
    }
    .about__img {
        height: 380px;
    }
}
@media screen and (max-width: 730px) {
    .stroj-snab__image {
        background-position-y: 0;
    }
}
@media screen and (max-width: 680px) {
    .about__text-container {
        max-width: 259px;
    }
    .about__list-heading {
        margin: 24px auto 0 0;
    }
    .about__img {
        height: 460px;
        object-position: -160px;
    }
    .colors__square {
        border-radius: 16px;
    }
    .colors__rectangle {
        border-radius: 16px;
    }
}
@media screen and (max-width: 560px) {
    .about__container {
        flex-direction: column;
        margin: 32px auto 64px;
    }
    .about__img {
        width: 290px;
        height: 246px;
        margin: 0 auto 0;
        object-position: 0;
    }
    .about__text-container {
        max-width: 290px;
        margin: 24px auto 0;
    }
    .about__list-heading {
        margin: 24px auto 0 0;
    }
    .colors__main-container {
        margin: 96px auto;
    }
    .colors__square-group {
        margin: 0 10px 0 0;
    }
    .colors__square {
        width: 92px;
        height: 96px;
    }
    .colors__type-container {
        max-width: 96px;
        margin-top: 3px;
    }
    .colors__type {
        font-size: 8.56506px;
        line-height: 140%;
    }
    .colors__rectangle-group {
        margin: 13px 0 0;
    }
    .colors__rectangle {
        height: 67px;
    }
    .colors__icon {
        width: 45px;
        height: 45px;
        margin-right: 45px;
    }
    .colors__icon:last-of-type {
        margin-right: 0;
    }
    .colors__icon_sun {
        height: 40px;
    }
    .typography__header {
        margin: 0 auto;
    }
    .typography__letter-main {
        font-size: 200px;
        margin: 35px -210px 0 0;
        color: rgba(201, 201, 201, 0.5);
    }
    .typography__container {
        margin: 48px auto 64px;
    }
    .typography__roboto-container {
        max-width: 212px;
    }
    .preview__container {
        margin: 64px auto 0;
    }
    .preview__img-one {
        width: 290px;
        height: 439px;
    }
    .preview__img-two {
        width: 290px;
        height: 190px;
        margin-top: 33px;
    }
    .preview__img-three {
        width: 290px;
        height: 1604px;
        margin: 32px auto 64px;
    }
}
@media screen and (max-width: 510px) {
    .adaptive {
        height: 971px;
    }
    .adaptive__info-container {
        margin: 24px auto 0;
        height: 568px;
    }
    .adaptive__heading {
        margin: 48px auto 0 28px;
        max-width: 233px;
    }
    .adaptive__description {
        margin: 32px 28px 64px;
        max-width: 233px;
    }
    .adaptive__phones-img {
        width: 197px;
        height: 223px;
    }
}
@media screen and (max-width: 470px) {
    .stroj-snab__image {
        background-image: url('../../images/stroi-snab-main-mobile.jpg');
        min-height: 410px;
        background-position-y: -100px;
    }
    .stroj-snab__icon {
        margin: 96px auto 0;
    }
    .colors__square {
        border-radius: 9px;
    }
    .colors__rectangle {
        border-radius: 9px;
    }
}
@media screen and (max-width: 400px) {
    .stroj-snab__image {
        background-position-y: 0;
    }
}