.web {
    
}
.web__image-container {
    background-image: url('../../images/web-page-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.web__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 440px auto auto 330px;
}
.web__button {
    visibility: hidden;
    width: 256px;
    height: 47px;
    background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
    box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
    border-radius: 30px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 16px auto 0;
}
.web__button:hover {
    background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
    cursor: pointer;
}
.web__button:focus {
    outline: none;
}
.web__button:active {
    box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.web__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.web__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.web__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
@media screen and (max-width: 1440px) {
    .web__heading {
        margin: 440px auto auto 200px;
    }
}
@media screen and (max-width: 1245px) {
    .web__image-container {
        min-height: 829px;
    }
    .web__heading {
        margin: 340px auto auto 100px;
    }
}
@media screen and (max-width: 1095px) {
    .web__image-container {
        min-height: 729px;
    }
    .web__heading {
        margin: 280px auto auto 100px;
    }
}
@media screen and (max-width: 950px) {
    .web__image-container {
        min-height: 629px;
    }
    .web__heading {
        margin: 250px auto auto 80px;
    }
}
@media screen and (max-width: 930px) {
    .web__image-container {
        min-height: 340px;
    }
    .web__heading {
        font-size: 36px;
        line-height: 140%;
        margin: 128px auto 0;
        min-width: 250px;
        text-align: center;
    }
    .web__button {
        visibility: visible;
    }
    .web__bottom-container {
        display: none;
    }
}
@media screen and (max-width: 470px) {
    .web__image-container {
        min-height: 490px;
        background-position-x: -230px;
        background-position-y: 50px;
    }
    .web__heading {
        margin: 175px auto 0;
    }
}