.web {
    
}
.web__image-container {
    background-image: url('../../images/web-page-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.web__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 440px auto auto 330px;
}
.web__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.web__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.web__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
@media screen and (max-width: 1440px) {
    .web__heading {
        margin: 440px auto auto 200px;
    }
}
@media screen and (max-width: 1245px) {
    .web__image-container {
        min-height: 829px;
    }
    .web__heading {
        margin: 340px auto auto 100px;
    }
}
@media screen and (max-width: 1095px) {
    .web__image-container {
        min-height: 729px;
    }
    .web__heading {
        margin: 280px auto auto 100px;
    }
}
@media screen and (max-width: 950px) {
    .web__image-container {
        min-height: 629px;
    }
    .web__heading {
        margin: 250px auto auto 80px;
    }
}
@media screen and (max-width: 930px) {
    .web__image-container {
        min-height: 340px;
    }
    .web__heading {
        margin: 130px auto auto 50px;
    }
    .web__bottom-container {
        margin: auto auto 15px;
    }
}
@media screen and (max-width: 568px) {
    .web__heading {
        margin: 116px auto auto 15px;
        font-size: 36px;
        line-height: 140%;
    }
    .web__bottom-container {
        display: none;
    }
}
@media screen and (max-width: 470px) {
    .web__image-container {
        min-height: 636px;
    }
    .web__heading {
        margin: 116px auto auto 19px;
    }
}