@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@font-face {
    font-family: 'Verdana';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("Verdana-BoldItalic.woff") format("woff");
}
@font-face {
    font-family: 'Verdana';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("Verdana-Italic.woff") format("woff");
}
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("Verdana.woff") format("woff");
}
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("Verdana-Bold.woff") format("woff");
}