.price-table-it {
    display: flex;
}
.price-table-it__container {
    display: flex;
    flex-direction: column;
    margin: 128px auto 256px;
}
.price-table-it__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 140%;
    color: #373737;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.it-table {
    display: flex;
    flex-direction: column;
    background: linear-gradient(86.98deg, #00133E 2%, #05D0DF 98%);
    margin: 32px 0 0;
}
.it-table__row {
    display: flex;
    margin: 0 1px 1px;
}
.it-table__row:first-of-type {
    margin-top: 1px;
}
.it-table__left-column {
    display: flex;
    width: 753px;
    background: #FFFFFF;
    padding: 25px 0;
}
.it-table__left-column_heading {
    background: #EBEBEB;
}
.it-table__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: auto;
    max-width: 680px;
    text-align: center;
}
.it-table__text_main {
    font-size: 22px;
    line-height: 27px;
}
.it-table__right-column {
    display: flex;
    width: 387px;
    background: #FFFFFF;
    margin-left: 1px;
}
.it-table__right-column_heading {
    background: #EBEBEB;
    margin-left: 0;
    width: 388px;
}
.it-table__right-column_heading-main {
    background: #EBEBEB;
}
@media screen and (max-width: 1200px) {
    .price-table-it__container {
        margin: 96px auto 128px;
    }
    .price-table-it__heading {
        font-size: 20px;
        line-height: 26px;
    }
    .it-table__left-column {
        width: 653px;
        padding: 20px 0;
    }
    .it-table__text {
        font-size: 16px;
        line-height: 140%;
        max-width: 580px;
    }
    .it-table__text_main {
        font-size: 18px;
        line-height: 25px;
    }
    .it-table__right-column {
        width: 287px;
    }
    .it-table__right-column_heading {
        width: 288px;
    }
}
@media screen and (max-width: 970px) {
    .it-table__left-column {
        width: 633px;
        padding: 25px 0;
    }
    .it-table__right-column {
        width: 267px;
    }
    .it-table__right-column_heading {
        width: 268px;
    }
}
@media screen and (max-width: 930px) {
    .it-table__left-column {
        width: 357px;
    }
    .it-table__right-column {
        width: 183px;
    }
    .it-table__right-column_heading {
        width: 184px;
    }
    .it-table__text {
        max-width: 322px;
    }
    .it-table__text_main {
        max-width: 150px;
    }
}
@media screen and (max-width: 560px) {
    .price-table-it__heading {
        max-width: 220px;
    }
    .it-table__left-column {
        width: 192px;
        padding: 20px 0;
    }
    .it-table__right-column {
        width: 98px;
    }
    .it-table__right-column_heading {
        width: 99px;
    }
    .it-table__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 173px;
    }
    .it-table__text_main {
        font-size: 16px;
        line-height: 22px;
        max-width: 86px;
    }
}