.la-mia-borsa {
    padding-top: 179px;
}
.la-mia-borsa__image {
    position: relative;
    background-image: url('../../images/la-mia-borsa-main-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 791px;
    width: 100%;
}
.la-mia-borsa__overlay-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(24, 24, 24, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.la-mia-borsa__icon {
    width: 405px;
    height: 57px;
    margin: 128px auto 0;
}
.la-mia-borsa__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 96px auto 0;

}
.la-mia-borsa__subheading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    max-width: 396px;
    margin: 48px auto 0;
}
.about-la-mia-borsa {
    display: flex;
    flex-direction: column;
}
.about-la-mia-borsa__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 96px auto 0;
}
.about-la-mia-borsa__container {
    display: flex;
    margin: 32px auto 128px;
}
.about-la-mia-borsa__img {
    background-image: url('../../images/la-mia-borsa-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 502px;
    height: 405px;
    margin: 0 25px 0 0;
}
.about-la-mia-borsa__text-container {
    max-width: 613px;
}
.about-la-mia-borsa__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin: 32px 0 0 0;
}
.about-la-mia-borsa__text:first-of-type {
    margin-top: 0;
}
.colors__square_dark-grey {
    background: #242424;
}
.colors__square_violet {
    background: #4F275B;
}
.colors__square_blue {
    background: #00ACEE;
}
.colors__rectangle_dirty-red {
    background: #831A35;
}
.colors__first-container_la-mia-borsa {
    margin-top: 40px;
    width: 300px;
    margin-left: 38px;
}
.colors__second-container_la-mia-borsa {
    margin-top: 150px;
    width: 300px;
    margin-left: 38px;
}
.colors__icon_call-center {
    width: 100px;
    height: 100px;
}
.colors__icon_first-bag {
    width: 100px;
    height: 100px;
}
.colors__icon_best {
    width: 100px;
    height: 100px;
}  
.colors__icon_second-bag {
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 1245px) {
    .la-mia-borsa__image {
        min-height: 650px;
    }
    .la-mia-borsa__icon {
        margin: 50px auto 0;
    }
    .about-la-mia-borsa__img {
        width: 400px;
        height: 520px;
        background-position-x: -50px;
    }
    .about-la-mia-borsa__text-container {
        max-width: 513px;
    }
    .colors__first-container_la-mia-borsa {
        margin-top: 20px;
    }
    .colors__second-container_la-mia-borsa {
        margin-top: 90px;
    }
}
@media screen and (max-width: 1095px) {
    .la-mia-borsa__image {
        min-height: 550px;
    }
    .la-mia-borsa__heading {
        font-size: 34px;
        line-height: 47px;
        margin: 56px auto 0;
    
    }
    .la-mia-borsa__subheading {
        font-size: 25px;
        line-height: 35px;
        margin: 38px auto 0;
        max-width: 280px;
    }
}
@media screen and (max-width: 1000px) {
    .about-la-mia-borsa__img {
        width: 350px;
        height: 625px;
        background-position-x: -125px;
    }
    .about-la-mia-borsa__text-container {
        max-width: 400px;
    }
}
@media screen and (max-width: 950px) {
    .la-mia-borsa__image {
        min-height: 450px;
    }
    .la-mia-borsa__icon {
        width: 157px;
        height: 22px;
        margin: 32px auto 0;
    }
    .la-mia-borsa__heading {
        font-size: 32px;
        line-height: 45px;
        margin: 46px auto 0;
    }
    .la-mia-borsa__subheading {
        font-size: 23px;
        line-height: 32px;
        margin: 28px auto 0;
    }
    .colors__first-container_la-mia-borsa {
        width: 270px;
        margin-left: 20px;
    }
    .colors__second-container_la-mia-borsa {
        width: 270px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 930px) {
    .la-mia-borsa {
        padding-top: 80px;
    }
    .la-mia-borsa__image {
        min-height: 260px;
    }
    .la-mia-borsa__heading {
        font-size: 20px;
        line-height: 26px;
        margin: 28px auto 0;
    }
    .la-mia-borsa__subheading {
        font-size: 16px;
        line-height: 22px;
        max-width: 220px;
        margin: 12px auto 0;
    }
    .colors__first-container_la-mia-borsa {
        width: 200px;
        margin-left: 30px;
        margin-top: 12px;
        justify-content: space-between;
    }
    .colors__second-container_la-mia-borsa {
        width: 200px;
        margin-left: 0;
        margin-right: 30px;
        margin-top: 12px;
        justify-content: space-between;
    }
    .colors__icon_call-center {
        width: 61px;
        height: 61px;
    }
    .colors__icon_first-bag {
        width: 61px;
        height: 61px;
    }
    .colors__icon_best {
        width: 61px;
        height: 61px;
    }  
    .colors__icon_second-bag {
        width: 61px;
        height: 61px;
    }
}
@media screen and (max-width: 820px) {
    .about-la-mia-borsa__heading {
        font-size: 28px;
        line-height: 36px;
        margin: 64px auto 0;
    }
    .about-la-mia-borsa__container {
        margin: 32px auto 96px;
    }
    .about-la-mia-borsa__img {
        background-image: url('../../images/la-mia-borsa-img-mobile.jpg');
        width: 259px;
        height: 715px;
        background-position-x: 0;
        margin: 0 20px 0 0;
    }
    .about-la-mia-borsa__text-container {
        max-width: 259px;
    }
    .about-la-mia-borsa__text {
        font-size: 16px;
        line-height: 140%;
    }
}
@media screen and (max-width: 560px) {
    .about-la-mia-borsa__container {
        flex-direction: column;
        margin: 32px auto 64px;
    }
    .about-la-mia-borsa__img {
        background-image: url('../../images/la-mia-borsa-img.jpg');
        width: 290px;
        height: 246px;
        margin: 0;
    }
    .about-la-mia-borsa__text-container {
        max-width: 290px;
    }
    .about-la-mia-borsa__text {
        margin-top: 24px;
    }
    .about-la-mia-borsa__text:first-of-type {
        margin-top: 24px;
    }
    .colors__first-container_la-mia-borsa {
        width: 107px;
        margin-left: 20px;
    }
    .colors__second-container_la-mia-borsa {
        width: 107px;
        margin-right: 20px;
    }
    .colors__icon_call-center {
        width: 36px;
        height: 36px;
        margin: 0;
    }
    .colors__icon_first-bag {
        width: 36px;
        height: 36px;
        margin: 0;
    }
    .colors__icon_best {
        width: 36px;
        height: 36px;
        margin: 0;
    }  
    .colors__icon_second-bag {
        width: 36px;
        height: 36px;
        margin: 0;
    }
}
@media screen and (max-width: 470px) {
    .la-mia-borsa__image {
        background-image: url('../../images/la-mia-borsa-main-img-mobile.jpg');
        min-height: 410px;
    }
    .la-mia-borsa__icon {
        margin: 96px auto 0;
    }
    .la-mia-borsa__heading {
        margin: 32px auto 0;
    }
}