.drop-down-menu {
    display: flex;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
    left: 5px;
    top: 60px;
    max-width: 413px;
    z-index: 1;
}
.drop-down-menu_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}
.drop-down-menu__background {
    display: flex;
    position: relative;
    background-color: #000000;
    padding: 32px 30px 64px 30px;
    box-shadow: -3px -2px 2px rgba(124, 247, 255, 0.36), 3px 3px 7px -1px rgba(0, 0, 0, 0.25), inset 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.drop-down-menu__close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 20px;
}
.drop-down-menu__close-button:hover {
    cursor: pointer;
    opacity: .7;
}
.drop-down-menu__container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    min-width: 174px;
}
.drop-down-menu__container:last-of-type {
    margin-right: 0;
}
.drop-down-menu__container_it {
    min-width: 150px;
}
.drop-down-menu__heading {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 8px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
.drop-down-menu__heading_web {
    border-image: linear-gradient(to right, #FF3541, #FF6D2F);
    border-image-slice: 1;
}
.drop-down-menu__heading_it {
    border-image: linear-gradient(to right, #071D55, #00F0FF);
    border-image-slice: 1;
}
.drop-down-menu__links {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 15px auto 0 0;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.drop-down-menu__links_web:hover {
    border-image: linear-gradient(to right, #FF3541, #FF6D2F);
    border-image-slice: 1;
}
.drop-down-menu__links_it:hover {
    border-image: linear-gradient(to right, #071D55, #00F0FF);
    border-image-slice: 1;
}
@media screen and (max-width: 1180px) {
    .drop-down-menu {
        left: -20px;
        top: 60px;
    }
    .drop-down-menu__background {
        padding: 30px;
    }
}
@media screen and (max-width: 1095px) {
    .drop-down-menu {
        left: 0;
        top: 55px;
    }
    .drop-down-menu__close-button {
        position: absolute;
        width: 15px;
        height: 15px;
    }
    .drop-down-menu__container {
        margin-right: 20px;
        min-width: 130px;
    }
    .drop-down-menu__container_it {
        width: 130px;
    }
    .drop-down-menu__heading {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 6px;
        border-bottom: 3px solid transparent;
    }
    .drop-down-menu__links {
        font-size: 14px;
        line-height: 22px;
        margin: 10px auto 0 0;
    }
    .drop-down-menu__links_web {
        max-width: 135px;
    }
}
@media screen and (max-width: 1012px) {
    .drop-down-menu {
        left: -20px;
        top: 50px;
    }
}