.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 99px;
  background: linear-gradient(90.33deg, #071D55 -5.84%, #00F0FF 101.87%);
}
.header__container {
  display: flex;
  width: 100%;
  margin: 0 192px;
  align-items: center;
}
.header__location {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 auto 0 0;
}
.header__location:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(76.57deg, #FF3541 0.81%, #FF6D2F 99.3%);
}
.header__location:active {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
}
.header__phone-number {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}
.header__phone-number:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(76.57deg, #FF3541 0.81%, #FF6D2F 99.3%);
}
.header__phone-number:active {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
}
.header__button {
  width: 300px;
  height: 60px;
  background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
  box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
  border-radius: 30px;
  border: none;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0 40px;
}
.header__button:hover {
  background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
  cursor: pointer;
}
.header__button:focus {
  outline: none;
}
.header__button:active {
  box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.header__icon-container {
  margin-right: 16px;
  width: 30px;
  height: 30px;
}
.header__icon-container:last-of-type {
  margin-right: 0;
}
.header__icon-container_vk {
  background-image: url('../../images/svg/vk-icon.svg');
  background-repeat: no-repeat;
}
.header__icon-container_vk:hover {
  background-image: url('../../images/svg/vk-icon-hover.svg');
}
.header__icon-container_vk:active {
  background-image: url('../../images/svg/vk-icon-active.svg');
}
.header__icon-container_inst {
  background-image: url('../../images/svg/inst-icon.svg');
  background-repeat: no-repeat;
}
.header__icon-container_inst:hover {
  background-image: url('../../images/svg/inst-icon-hover.svg');
}
.header__icon-container_inst:active {
  background-image: url('../../images/svg/inst-icon-active.svg');
}
@media screen and (max-width: 1610px) {
  .header__container {
    margin: 0 80px;
  }
}
@media screen and (max-width: 1345px) {
  .header__container {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1244px) {
  .header__container {
    margin: 0 15px;
  }
}
@media screen and (max-width: 1215px) {
  .header__location {
    max-width: 300px;
    font-size: 18px;
    line-height: 150%;
  }
}
@media screen and (max-width: 1180px) {
  .header__location {
    font-size: 16px;
    line-height: 22px;
  }
  .header__phone-number {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1012px) {
  .header__location {
    max-width: 250px;
    font-size: 14px;
    line-height: 24px;
  }
  .header__phone-number {
    font-size: 14px;
    line-height: 16px;
  }
  .header__button {
    width: 250px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 930px) {
    .header {
      display: none;
    }
}