.footer {
    width: 100%;
    display: flex;
    background: linear-gradient(86.98deg, #00133E 28.59%, #05D0DF 108.13%);
}
.footer__contacts-container {
    margin: 170px auto 250px 312px; 
}
.footer__phone-container {
    display: flex;
    align-items: center;
}
.footer__phone-icon {
    width: 81px;
    height: 81px;
}
.footer__phone-link {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: -53px;
    margin-top: 25px;
}
.footer__email-container {
    display: flex;
    align-items: center;
    margin-top: 33px;
}
.footer__email-icon {
    width: 81px;
    height: 57px;
}
.footer__email-link {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: -53px;
}
.footer__map-container {
    display: flex;
    align-items: center;
    margin-top: 33px;
}
.footer__map-icon {
    width: 81px;
    height: 81px;
}
.footer__map-link {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    max-width: 327px;
    margin-left: -53px;
    margin-top: 10px;
}
.footer__icon {
    margin-top: 25px;
    margin-right: 16px;
    width: 30px;
    height: 30px;
}
.footer__icon:last-of-type {
    margin-right: 0;
}
.footer__icon_inst {
    background-image: url('../../images/svg/inst-icon.svg');
    background-repeat: no-repeat;
    margin-left: 78px;
}
.footer__icon_vk {
    background-image: url('../../images/svg/vk-icon.svg');
    background-repeat: no-repeat;
}
.footer__form-container {
    padding: 60px 90px 100px 70px;
    margin: 83px 158px 104px auto;
    background: #FFFFFF;
    border: 3px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.49);
}
.footer__form {
    
}
.footer__form-heading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    margin: 0;
}
.footer__inputs-container {
    display: flex;
    max-width: 420px;
    height: 32px;
    justify-content: space-between;
    margin: 41px auto 32px 0;
}
.footer__input {
    border: none;
    border-bottom: 1px solid #000000;
}
.footer__input:focus {
    outline: none;
}
.footer__input::placeholder {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
}
.footer__question {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    max-width: 293px;
    margin: 0 auto 16px 0;
}