.page-form {
    display: flex;
    width: 100%;
    background-color: #D2D2D2;
}
.page-form__form {
    display: flex;
    flex-direction: column;
    margin: 67px auto 122px;
}
.page-form__form-heading {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #121212;
    margin: 0 auto 0 0;
}
.page-form__form-container {
    display: flex;
    margin: 64px 0 0;
}
.page-form__inputs-container {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    width: 367px;
}
.page-form__input-container {
    display: flex;
    flex-direction: column;
}
.page-form__input {
    padding-left: 10px;
    border: none;
    background-color: #D2D2D2;
}
.page-form__input::placeholder {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
}
.page-form__input:focus {
    outline: none;
}
.page-form-form__input_error {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: red;
    height: 32px;
    border-top: 1px solid #000000;
    padding-left: 10px;
}
.page-form__radio-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px 0 0;
}
.page-form__question {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #121212;
    margin: 0 auto 0 0;
}
.page-form__radio-buttons-container {
    display: flex;
    margin: 24px 0 0 0;
}
.page-form__radio {
    margin-right: 15px; 
}
.page-form__radio:last-of-type {
    margin-right: 0; 
}
.page-form__radio input[type=radio] {
	display: none;
}
.page-form__radio input[type=radio]:checked + label:before {
	background-image: url('../../images/svg/radio-button-active.svg');
    background-repeat: no-repeat;
}
.page-form__radio label:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	bottom: 5px;
    background-image: url('../../images/svg/radio-button-notactive.svg');
    background-repeat: no-repeat;
}
.page-form__radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	user-select: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #121212;
}
.page-form__submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-form__submit-button {
    width: 300px;
    height: 54px;
    background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
    box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
    border-radius: 30px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.page-form__submit-button:hover {
    background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
    cursor: pointer;
}
.page-form__submit-button:active {
    box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.page-form__submit-button:focus {
    outline: none;
}
.page-form__under-submit-button-container {
    display: flex;
    margin-top: 10px;
}
.page-form__under-submit-button-check {
    margin: 0 5px 0 0;
}
.page-form__under-submit-button-text {
    font-family:'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 133.53%;
    color: #373737;
    margin: 0;
}
@media screen and (max-width: 1245px) {
    .page-form__inputs-container {
        margin-right: 40px;
        width: 320px;
    }
    .page-form__radio-container {
        margin: 0 40px 0 0;
    }
}
@media screen and (max-width: 1120px) {
    .page-form__form {
        margin: 67px auto;
    }
    .page-form__form-container {
        flex-direction: column;
        margin: 64px auto 0;
    }
    .page-form__inputs-container {
        flex-direction: row;
        margin: 0;
        width: 650px;
    }
    .page-form__input-container {
        width: 310px;
        margin-right: 30px;
    }
    .page-form__input-container:last-of-type {
        margin-right: 0;
    }
    .page-form__radio-container {
        margin: 0;
        align-items: center;
    }
    .page-form__question {
        margin: 0 auto 0;
    }
    .page-form__submit-container {
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .page-form__form {
        margin: 65px auto;
    }
    .page-form__form-heading {
        font-size: 18px;
        line-height: 25px;
        max-width: 535px;
    }
    .page-form__form-container {
        margin: 30px 0 0;
    }
    .page-form__inputs-container {
        width: 493px;
    }
    .page-form__input-container {
        width: 230px;
        margin-right: 33px;
    }
    .page-form__input::placeholder {
        font-size: 16px;
        line-height: 22px;
    }
    .page-form-form__input_error {
        font-size: 10px;
        line-height: 13px;
        height: 30px;
        padding-top: 2px;
    }
    .page-form__radio-container {
        margin: 0 auto 0 0;
    }
    .page-form__question {
        font-size: 16px;
        line-height: 22px;
        margin: 0 auto 0 0;
    }
    .page-form__radio-buttons-container {
        flex-direction: column;
        margin: 12px auto 0 0;
    }
    .page-form__radio {
        margin: 0 0 12px 0; 
    }
    .page-form__radio:last-of-type {
        margin: 0; 
    }
    .page-form__radio label:before {
        width: 14px;
        height: 14px;
        bottom: 3px;
        background-size: contain;
    }
    .page-form__radio label {
        font-size: 16px;
        line-height: 22px;
    }
    .page-form__submit-container {
        margin-top: 48px;
    }
    .page-form__submit-button {
        height: 60px;
        line-height: 22px;
    }
    .page-form__under-submit-button-container {
        margin-top: 8px;
    }
    .page-form__under-submit-button-check {
        margin: 2px 5px 0 0;
    }
}
@media screen and (max-width: 568px) {
    .page-form__form-heading {
        max-width: 490px;
    }
}
@media screen and (max-width: 530px) {
    .page-form__form {
        margin: 39px auto 64px;
    }
    .page-form__form-heading {
        max-width: 289px;
    }
    .page-form__inputs-container {
        flex-direction: column;
        max-width: 230px;
    }
    .page-form__input-container {
        width: 230px;
        margin: 0;
    }
    .page-form__submit-button {
        width: 237px;
        padding: 0 20px;
        font-size: 16px;
    }
    .page-form__under-submit-button-container {
        margin-top: 16px;
        max-width: 232px;
        text-align: center;
    }
    .page-form__under-submit-button-check {
        margin: 0 0 15px 0;
    }
}