.it {
    
}
.it__image-container {
    background-image: url('../../images/it-page-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.it__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 440px auto auto 330px;
}
.it__button {
    visibility: hidden;
    width: 256px;
    height: 47px;
    background: linear-gradient(79.69deg, #FF3232 6.7%, #FF612F 97.83%);
    box-shadow: -2px 18px 30px -12px rgba(64, 0, 0, 0.7);
    border-radius: 30px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 16px auto 0;
}
.it__button:hover {
    background: linear-gradient(85.68deg, #FF0F00 15.58%, #FF9533 53.24%, #FF0000 104.41%);
    cursor: pointer;
}
.it__button:focus {
    outline: none;
}
.it__button:active {
    box-shadow: inset 6px 7px 6px rgba(0, 0, 0, 0.4);
}
.it__bottom-container {
    display: flex;
    margin: auto auto 32px;
}
.it__mouse-icon {
    max-height: 53px;
    max-width: 47px;
}
.it__text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: auto 0 auto 19px;
    max-width: 120px;
}
.about-it {
    display: flex;
}
.about-it__img {
    width: 531px;
    height: 393px;
    margin: auto 113px auto auto;
}
.about-it__container {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 96px auto 128px 0;
}
.about-it__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.about-it__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #373737;
    margin: 32px auto 0 0;
}
.service-it {
    display: flex;
    flex-direction: column;
    background: #D2D2D2;
}
.service-it__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #121212;
    text-transform: uppercase;
    margin: 96px auto 0;
}
.service-it__container {
    display: flex;
    margin: 16px auto 128px;
}
.service-it__description-container {
    display: flex;
    flex-direction: column;
    max-width: 657px;
    margin: 0 136px 0 0;
}
.service-it__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #121212;
    margin: 48px auto 0 0;
}
.service-it__list {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #121212;
    padding: 0;
    margin: 32px auto 0 0;
}
.service-it__list-item {
    margin-left: 20px;
}
.service-it__img {
    width: 498px;
    height: 420px;
    margin: 0 auto auto 0;
}
.it-form__price {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 64px 91px 96px;
    margin: 48px 0 70px auto;
    max-width: 303px;
}
@media screen and (max-width: 1440px) {
    .it__heading {
        margin: 440px auto auto 200px;
    }
}
@media screen and (max-width: 1320px) {
    .service-it__container {
        margin: 16px auto 96px;
    }
    .service-it__heading {
        font-size: 28px;
        line-height: 36px;
        margin: 48px auto 0;
    }
    .service-it__description-container {
        max-width: 400px;
        margin: 0 22px 0 0;
    }
    .service-it__description {
        font-size: 16px;
        line-height: 140%;
        margin: 16px auto 0 0;
    }
    .service-it__list {
        font-size: 16px;
        line-height: 140%;
        margin: 24px auto 0 0;
    }
    .service-it__img {
        width: 408px;
        height: 330px;
        margin: 20px auto auto 0;
    }
}
@media screen and (max-width: 1300px) {
    .about-it__img {
        width: 383px;
        height: 284px;
        margin: auto 80px auto auto;
    }
    .about-it__container {
        max-width: 538px;
        margin: 64px auto 96px 0;
    }
    .about-it__heading {
        font-size: 28px;
        line-height: 36px;
    }
    .about-it__description {
        font-size: 16px;
        line-height: 140%;
    }
}
@media screen and (max-width: 1245px) {
    .it__image-container {
        min-height: 829px;
    }
    .it__heading {
        margin: 340px auto auto 100px;
    }
}
@media screen and (max-width: 1095px) {
    .it__image-container {
        min-height: 729px;
    }
    .it__heading {
        margin: 280px auto auto 100px;
    }
}
@media screen and (max-width: 1075px) {
    .about-it__container {
        max-width: 400px;
    }
}
@media screen and (max-width: 950px) {
    .it__image-container {
        min-height: 629px;
    }
    .it__heading {
        margin: 250px auto auto 80px;
    }
}
@media screen and (max-width: 940px) {
    .it-form__price {
        padding: 54px 81px 86px;
        margin: 48px auto 0;
    }
}
@media screen and (max-width: 930px) {
    .it__image-container {
        min-height: 340px;
    }
    .it__heading {
        font-size: 36px;
        line-height: 140%;
        margin: 128px auto 0;
    }
    .it__button {
        visibility: visible;
    }
    .it__bottom-container {
        display: none;
    }
    .about-it {
        flex-direction: column;
    }
    .about-it__img {
        margin: 32px auto 96px;
        order: 2;
    }
    .about-it__container {
        max-width: 538px;
        margin: 64px auto 0;
        order: 1;
    }
}
@media screen and (max-width: 870px) {
    .service-it__container {
        margin: 16px auto 64px;
    }
    .service-it__description-container {
        max-width: 259px;
        text-align: justify;
    }
    .service-it__img {
        width: 230px;
        height: 198px;
        margin: 130px auto auto 0;
    }
}
@media screen and (max-width: 568px) {
    .it-form__price {
        padding: 32px 40px 64px;
        max-width: 260px;
    }
}
@media screen and (max-width: 560px) {
    .about-it__img {
        width: 243px;
        height: 180px;
    }
    .about-it__container {
        max-width: 290px;
    }
    .service-it__container {
        flex-direction: column;
    }
    .service-it__heading {
        max-width: 210px;
        text-align: center;
    }
    .service-it__description-container {
        margin: 0 auto;
    }
    .service-it__img {
        margin: 32px auto 0;
    }
}
@media screen and (max-width: 470px) {
    .it__image-container {
        min-height: 490px;
        background-position-x: -470px;
        background-position-y: 50px;
    }
    .it__heading {
        margin: 176px auto 0;
    }
}
@media screen and (max-width: 425px) {
    .it-form__price {
        padding: 22px 50px 54px 10px;
        max-width: 230px;
    }
}