.ar-bellos {
    padding-top: 179px;
}
.ar-bellos__image {
    position: relative;
    background-image: url('../../images/arbellos-main-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 791px;
    width: 100%;
    background-position: right;
}
.ar-bellos__overlay-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(24, 24, 24, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ar-bellos__icon {
    width: 290px;
    height: 57px;
    margin: 128px auto 0;
}
.ar-bellos__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 96px auto 0;

}
.ar-bellos__subheading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    max-width: 396px;
    margin: 48px auto 0;
}
.colors__square_black {
    background: #111111;
}
.colors__square_dark-grey {
    background: #23282D;
}
.colors__square_grey {
    background: #8A8484;
}
.colors__rectangle_light-grey {
    background: #EAEAEA;
}
.about__img_ar-bellos {
    width: 502px;
    height: 324px;
}
.colors__first-container_ar-bellos {
    margin-top: 50px;
    max-width: 270px;
    margin-left: 24px;
}
.colors__second-container_ar-bellos {
    margin-top: 185px;
    max-width: 270px;
    margin-left: 24px;
}
.colors__icon_hands {
    width: 87px;
    height: 65px;
}
.colors__icon_instagram {
    width: 60px;
    height: 60px;
}
.colors__icon_question {
    width: 92px;
    height: 72px;
}
.colors__icon_list {
    width: 60px;
    height: 60px;
}
.typography__roboto-heading_exo {
    font-family: 'Exo 2', sans-serif;
}
.typography__roboto-letters_exo {
    font-family: 'Exo 2', sans-serif;
}
.ar-bellos-adaptive {
    background: #D2D2D2;
    width: 100%;
    display: flex;
}
.ar-bellos-adaptive__info-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin: 96px auto 128px;
}
.ar-bellos-adaptive__heading {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #373737;
    margin: 64px auto 0 67px;
}
.ar-bellos-adaptive__description {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #121212;
    margin: 32px 67px 96px;
    width: 382px;
}
.ar-bellos-adaptive__img {
    width: 772px;
    height: 521px;
    margin: auto auto auto 0;
}
.ar-bellos-preview {
    display: flex;
}
.ar-bellos-preview__img {
    margin: 128px auto 256px;
}
@media screen and (max-width: 1350px) {
    .ar-bellos-adaptive__heading {
        font-size: 28px;
        line-height: 36px;
        margin: 48px auto 0 32px;
    }
    .ar-bellos-adaptive__description {
        font-size: 16px;
        line-height: 140%;
        margin: 32px 48px 64px 32px;
    }
    .ar-bellos-adaptive__img {
        width: 457px;
        height: 309px;
    }
}
@media screen and (max-width: 1245px) {
    .ar-bellos__image {
        min-height: 650px;
    }
    .ar-bellos__icon {
        margin: 50px auto 0;
    }
    .about__img_ar-bellos {
        width: 400px;
        height: 275px;
        object-position: right;
    }
    .colors__first-container_ar-bellos {
        margin-top: 30px;
    }
    .colors__second-container_ar-bellos {
        margin-top: 135px;
    }
}
@media screen and (max-width: 1170px) {
    .ar-bellos-preview__img {
        width: 538px;
        height: 1118px;
        margin: 96px auto 128px;
    }
}
@media screen and (max-width: 1095px) {
    .ar-bellos__image {
        min-height: 550px;
    }
    .ar-bellos__heading {
        font-size: 34px;
        line-height: 47px;
        margin: 56px auto 0;
    
    }
    .ar-bellos__subheading {
        font-size: 25px;
        line-height: 35px;
        margin: 38px auto 0;
    }
    .about__img_ar-bellos {
        width: 350px;
        height: 315px;
    }
    .about__text-container_ar-bellos {
        max-width: 400px;
    }
}
@media screen and (max-width: 950px) {
    .ar-bellos__image {
        min-height: 450px;
    }
    .ar-bellos__icon {
        width: 190px;
        height: 37px;
        margin: 32px auto 0;
    }
    .ar-bellos__heading {
        font-size: 32px;
        line-height: 45px;
        margin: 46px auto 0;
    }
    .ar-bellos__subheading {
        font-size: 23px;
        line-height: 32px;
        margin: 28px auto 0;
    }
    .about__img_ar-bellos {
        width: 300px;
        height: 410px;
        object-position: -140px;
    }
    .ar-bellos-adaptive {
        flex-direction: column;
    }
    .ar-bellos-adaptive__info-container {
        margin: 32px auto 96px;
        order: 2;
    }
    .ar-bellos-adaptive__img {
        margin: 96px auto 0;
        order: 1;
    }
}
@media screen and (max-width: 930px) {
    .ar-bellos {
        padding-top: 80px;
    }
    .ar-bellos__image {
        min-height: 260px;
    }
    .ar-bellos__icon {
        width: 90px;
        height: 18px;
    }
    .ar-bellos__heading {
        font-size: 20px;
        line-height: 26px;
        margin: 28px auto 0;
    }
    .ar-bellos__subheading {
        font-size: 16px;
        line-height: 22px;
        max-width: 288px;
        margin: 12px auto 0;
    }
    .colors__first-container_ar-bellos {
        margin-top: 41px;
        width: 212px;
        justify-content: space-between;
    }
    .colors__second-container_ar-bellos {
        margin-top: 41px;
        width: 212px;
        margin-left: 0;
        margin-right: 24px;
        justify-content: space-between;
    }
}
@media screen and (max-width: 840px) {
    .about__img_ar-bellos {
        width: 214px;
        height: 320px;
    }
}
@media screen and (max-width: 680px) {
    .about__img_ar-bellos {
        height: 371px;
    }
    .about__text-container_ar-bellos {
        max-width: 299px;
    }
}
@media screen and (max-width: 560px) {
    .about__img_ar-bellos {
        width: 290px;
        height: 246px;
        object-position: -60px;
    }
    .about__text-container_ar-bellos {
        max-width: 290px;
    }
    .colors__icon_hands {
        width: 50px;
        height: 40px;
        margin: 0;
    }
    .colors__icon_instagram {
        width: 34px;
        height: 34px;
        margin: 0;
    }
    .colors__icon_question {
        width: 53px;
        height: 41px;
        margin: 0;
    }
    .colors__icon_list {
        width: 34px;
        height: 34px;
        margin: 0;
    }
    .colors__first-container_ar-bellos {
        margin-top: 32px;
        width: 118px;
        margin-left: 14px;
    }
    .colors__second-container_ar-bellos {
        margin-top: 32px;
        width: 118px;
        margin-right: 14px;
    }
    .ar-bellos-preview__img {
        width: 290px;
        height: 602px;
        margin: 64px auto 96px;
    }
}
@media screen and (max-width: 515px) {
    .ar-bellos-adaptive__info-container {
        margin: 53px auto 96px;
    }
    .ar-bellos-adaptive__heading {
        margin: 48px auto 0 28px;
        max-width: 233px;
    }
    .ar-bellos-adaptive__description {
        margin: 32px 29px 64px 28px;
        max-width: 233px;
    }
    .ar-bellos-adaptive__img {
        width: 265px;
        height: 179px;
        margin: 75px auto 0;
        order: 1;
    }
}
@media screen and (max-width: 470px) {
    .ar-bellos__image {
        min-height: 410px;
        background-position-x: -220px;
    }
    .ar-bellos__icon {
        margin: 96px auto 0;
    }
    .ar-bellos__heading {
        margin: 32px auto 0;
    }
}